export SPARK_DIST_CLASSPATH=$(hadoop classpath)



export SPARK_LOG_DIR={{as_spark_log_dir}}/
export SPARK_PUBLIC_DNS=0.0.0.0
export SPARK_WORKER_DIR={{as_spark_worker_dir}}/
export SPARK_WORKER_INSTANCES=6
export SPARK_WORKER_MEMORY=10g
export SPARK_WORKER_CORES=4
export SPARK_MASTER_HOST=gpu0.dev.yufei.com
export SPARK_LOCAL_DIRS={{as_spark_local_dirs}}/





